<component name="ArtifactManager">
  <artifact type="war" name="springcloudparent:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-cloud-parent.war">
      <element id="artifact" artifact-name="springcloudparent:war exploded" />
    </root>
  </artifact>
</component>